<!-- POST INFORMATION PARTIALS -->
<article class='post'>
  <div class='title'>
    <a href='{{post_url}}' target='_blank'>{{title}}</a>
  </div>
  <div class='meta'>
    <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    <a href='/post/{{id}}'>{{comments.length}}
      {{format_plural 'comment' comments.length}}</a>
  </div>
</article>

<!-- TESTED SNIPPET USERNAME DATE -->
